* {
    padding: 0;
    margin: 0;
}
body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}
.splashBg {
    position: fixed;
    z-index: 2;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 1);
    transition: filter 1s ease;
    filter: blur(0);
    display: none;
}
.splashBgBlur {
    filter: blur(10px);
}
.splash {
    position: fixed;/*스플래시 화면은 클라이언트 뷰에 보여햐하니 fixed로 고정해줌*/
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(145deg, #2a3439, #000000); 
    overflow: hidden;/*자식 요소가   화면 밖으로 나가도 스크롤이바가 생기지 않도록 hidden해줌*/
}
.splashShortening{
    animation: shorteningSplash 2s cubic-bezier(1,0,.5,1) forwards;
}
@keyframes shorteningSplash {
    0%{
        width: 100vw;
        height: 100vh;
        border-radius: 0;
    }
    100%{
        width: 38vw;
        height: 82vh;
        border-radius: 50px;
    }
}

/* .splashCircle {
    position: fixed; 다른 태그들에 간섭을 받지않고 가운데에 고정하기위해 fixed를 줌
    width: 150vmax;
    height: 150vmax;
    top: 50%;
    left: 50%;
    background: #8B4513;
    border-radius: 50%;
    transform: translate(-50%, -50%); 요소에 초점이 왼쪽 상단이 기본이기때문에 왼쪽으로 50% 외쪽으로 50%가서 초점을 가운데로 옮김
    animation: reducedCircle 3.5s forwards;
    z-index: 2;
}
@keyframes reducedCircle {
    0% {
        width: 150vmax; 뷰포트에 높이와 너비중 큰값이 vmax, 뷰포트에 높이와 너비중 작은 값이 vmin
        height: 150vmax;
    }
    100% {
        width: 0;
        height: 0;
    }
} */
.splashLamp {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.lampBody {
    position: absolute;
    top: 5%;
    left: 20%;
    width: 0;
    height: 0;
    transform: translateX(-50%);
    border-left: 125px solid transparent; /*삼각형*/
    border-right: 125px solid transparent;/*삼각형*/
    border-bottom: 250px solid #293133; /*삼각형*/
    z-index: 2;
    
}
.lampBodyMove{
    animation: lampMove 2s cubic-bezier(1,0,.5,1) forwards;
}
.lampLine {
    position: absolute;
    top: 0;
    transform: translate(-50%, -50%);
    width: 5px;
    height: 100px;
    background-color: #293133;
}
.lampHeader {
    position: absolute;
    top: 10px;
    width: 20px;
    height: 30px;
    border-radius: 5px 5px 0 0;
    background-color: #293133;
    transform: translate(-50%, -50%);
}
.lampInternal {
    position: absolute;
    top: 250px;
    left: 0;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 10px;
    border-radius: 100%;
    background-color: #997417;
    
}
.lampInternalOff{
    transition: box-shadow 3s ease;
    box-shadow: rgba(255, 255, 255, 0) 0 0 10px;
}
.light {
    position: absolute;
    top: 5%;
    left: 20%;
    width: 700px;
    height: 700px;
    transform: translateX(-50%);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.3), transparent 100%);
    clip-path: polygon(50% 1%, 50% 1%, 0 100%, 100% 100%); /* border색깔은 단색만 가능하기 때문에 그라데이션 효과를주고 위치를 지정해서 요소를 잘라줌*/
    z-index: 1;
    display: none;
}
.lampMove{
    animation: lampMove 2s cubic-bezier(1,0,.5,1) forwards;
}
.lightGround {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 20%;
    top: 76%;
    border-left: 350px solid transparent;
    width: 320px;
    height: 125px;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    display: none;
}
.lampGroundMove{
    animation: lampMove 2s cubic-bezier(1,0,.5,1) forwards;
}
@keyframes lampMove {
    0%{
        
    }
    100%{
        left: 50%;
    }
}

.splashLogo{
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 75%;
    filter: blur(15px);
}
.splashLogoMove {
    animation: splashLogoMove 2s cubic-bezier(1,0,.5,1) forwards;
}
@keyframes splashLogoMove {
    0%{

    }
    100%{
        left: 50%;
        top: 60%;
    }
}
.splashLogoOnBlur {
    transition: filter 3s ease;
    filter: blur(10px);
}
.splashLogoOffBlur {
    filter: blur(0);
}

/*-------------------------------------------------------------------------------------------------------------------*/
.mainWrap {
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 200vh;
    transition: filter 2s ease;
    background: linear-gradient(180deg, #1C0C07, #2C1A12);
    filter: blur(10px);
}
.mainWrapRemoveBlur {
    filter: blur(0);
}

header {
    width: 100%;
    height: 80px;
    background: linear-gradient(145deg, #2a3439, #000000);
    display: flex;
    justify-content: center;
    padding: 0 200px;
    box-sizing: border-box;
    box-shadow: rgba(153, 116, 23, 0) 0 10px 20px;
    transition: box-shadow 3s ease;
}
.headerLogo {
    position: relative;
    width: 300px;
    height: 100%;
    background-color: transparent;
    overflow: hidden;
}
.headerLogo img {
    position: absolute;
    top: -200px;
    left: -100px;

}

.headerNav {
    width: calc(100% - 300px);
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mainmenu {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.mainmenu a {
    position: relative;
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    color: white;
}
.mainmenu a span {
    position: relative;
    z-index: 3;
}
.bgLight {
    position: absolute;
    z-index: 2;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    border-radius: 100%;
    background-color: #997417;
    filter: blur(10px);
    transition: width 1.5s ease-out;
    transition: height 1.5s ease-out;
}
.mainmenu a:hover .bgLight {
    width: 100%;
    height: 100%;
}
.underline {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: calc(100% + 5px);
    width: 0;
    height: 5px;
    border-radius: 5px;
    background-color: white;
    transition: width 1.5s ease-out;
    box-shadow: white 0 0 10px;
}
.mainmenu a:hover .underline {
    width: 100%;
}

main {
    position: relative;
    width: 100%;
    height: calc(100% - 150px);
}
.mainLogo {
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainLogo a {
    text-decoration: none;
}
.mainLogo p {
    font-size: 5em;
    font-weight: bold;
    font-family: 'Roboto Mone', monospace;
    text-shadow: 0 0 15px rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 1);;
}
.contentWrap {
    width: 95%;
    height: calc(100vh - 260px);
    margin: auto;
    background: rgba(255, 255, 255, 1);
    border-radius: 15px;
    overflow: scroll;
    scrollbar-width: none;
}
.contentWrap::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.contentWrap::-webkit-scrollbar-track {
    background: transparent;
}
.contentWrap::-webkit-scrollbar-thumb {
    background: transparent;
}
.contentArea {

}
.content {
    position: sticky;
    top: 0;
}
.slideContainer {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slide {
    position: absolute;
    z-index: 0;
    display: none;
}
.slide.enbled {
    display: block;
}

.slideBigText p {
    font-size: 3em;
    font-weight: bold;
    font-family: 'Roboto Mone', monospace;
    line-height: 1.35;
    letter-spacing: -1.5px;
    word-spacing: 1.5px;
    text-align: center;
}

