* {
    padding: 0;
    margin: 0;
}
body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}
.splash {
    position: fixed;/*스플래시 화면은 클라이언트 뷰에 보여햐하니 fixed로 고정해줌*/
    width: 100vw;
    height: 100vh;
    background: linear-gradient(145deg, #2a3439, #000000); 
    overflow: hidden;/*자식이 화면 밖으로 나가도 스크롤이바가 생기지 않도록 hidden해줌*/
}

.splashCircle {
    position: fixed;/*다른 태그들에 간섭을 받지않고 가운데에 고정하기위해 fixed를 줌*/
    width: 150vmax;
    height: 150vmax;
    top: 50%;
    left: 50%;
    background: #8B4513;
    border-radius: 50%;
    transform: translate(-50%, -50%);/*요소에 초점이 왼쪽 상단이 기본이기때문에 왼쪽으로 50% 외쪽으로 50%가서 초점을 가운데로 옮김*/
    animation: reducedCircle 3.5s forwards;
    z-index: 2;
}
@keyframes reducedCircle {
    0% {
        width: 150vmax;/*뷰포트에 높이와 너비중 큰값이 vmax, 뷰포트에 높이와 너비중 작은 값이 vmin*/
        height: 150vmax;
    }
    100% {
        width: 0;
        height: 0;
    }
}
.splashLamp {
    position: relative;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.lampBody {
    position: absolute;
    top: -150px;
    left: 50%;
    width: 0;
    height: 0;
    transform: translate(-50%, -50%);
    border-left: 125px solid transparent; /*삼각형*/
    border-right: 125px solid transparent;/*삼각형*/
    border-bottom: 250px solid #293133; /*삼각형*/
    z-index: 2;
}
.lampLine {
    position: absolute;
    top: 0;
    transform: translate(-50%, -50%);
    width: 5px;
    height: 100px;
    background-color: #293133;
}
.lampHeader {
    position: absolute;
    top: 10px;
    width: 20px;
    height: 30px;
    border-radius: 5px 5px 0 0;
    background-color: #293133;
    transform: translate(-50%, -50%);
}
.lampInternal {
    position: absolute;
    top: 250px;
    left: 0;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 10px;
    border-radius: 100%;
    background-color: #997417;
}
.light {
    position: absolute;
    top: 373px;
    left: 50%;
    width: 700px;
    height: 700px;
    transform: translate(-50%, -50%);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.3), transparent 100%);
    clip-path: polygon(50% 1%, 50% 1%, 0 100%, 100% 100%); /* border색깔은 단색만 가능하기 때문에 그라데이션 효과를주고 위치를 지정해서 요소를 잘라줌*/
    z-index: 1;
    display: none;
}
.lightCircle {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 700px;
    border-left: 350px solid transparent;
    width: 320px;
    height: 125px;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    display: none;
}
